<%- model_class = Labour -%>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Labours</h2>
      <hr>
      <div class="table-responsive">

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:phone_no) %></th>
      <th><%= model_class.human_attribute_name(:date_of_joining) %></th>
      <th><%= model_class.human_attribute_name(:salary_per_day) %></th>
      <th><%= model_class.human_attribute_name(:salary_for_hours) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @labours.each do |labour| %>
      <tr>
        <td><%= link_to labour.id, labour_path(labour) %></td>
        <td><%= labour.first_name %></td>
        <td><%= labour.last_name %></td>
        <td><%= labour.phone_no %></td>
        <td><%= labour.date_of_joining %></td>
        <td><%= labour.salary_per_day %></td>
        <td><%= labour.salary_for_hours %></td>
        <td>
          <%= link_to "Modify",
                      edit_labour_path(labour), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      labour_path(labour),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>

<hr>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_labour_path,
            :class => 'btn btn-primary' %>

    </div>
  </div>
</div>
