<div class="container">
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/reports/index" method="get"><input type="text" name="startdate" id="datepicker" value="<%= params[:startdate] %>"><button class="btn btn-primary">Go</button></form>
  </div>
    <div class="table-responsive">
      <table class="table-bordered table-striped table">
              <% start_date = Date.parse(params[:startdate]).beginning_of_month %>
              <% end_date = Date.parse(params[:startdate]).end_of_month %>
        <thead>
          <td>Name</td>
          <td>Presenty</td>
          <td>Salary</td>
          <td>Advance</td>
          <td>Balance</td>
        </thead>
        <tbody>
        <% @labour.each do |labour| %>
          <tr>
            <td><%= labour.first_name %> <%= labour.last_name %> </td>
            <% hours = 0 %>
            <% salary = 0 %>
            <% client_salary = 0 %>
            <% advance = 0 %>
            <td><% Attendance.where("labour_id = ? and date between ? and ? ", labour.id, start_date,end_date).each do |a|
              hours += a.hours unless a.hours.nil?
              salary += a.salary unless a.salary.nil?
              client_salary += a.client_salary unless a.client_salary.nil?
            end
              %>
            <%= number_with_precision(hours/labour.salary_for_hours, :precision => 2)  %></td>
            <% if cookies[:s] == 'p' %>
            <td><%= number_with_precision(salary, :precision => 2) %></td>
            <% elsif cookies[:s] == 'c' %>
            <td><%= number_with_precision(client_salary, :precision => 2) %></td>
            <% end %>
             <% Payment.where("labour_id = ? and date >= ? and date <= ?", @labour.id,start_date, end_date).each do |p|
                  advance += p.amount_paid unless p.amount_paid.nil?
                  end %>
            <td><%= number_with_precision(advance, precision: 2) %></td>
            <% if cookies[:s] == 'p' %>

            <td><%= number_with_precision(salary - labour.account, :precision => 2) %></td>
            <% elsif cookies[:s] == 'c' %>
            <td><%= number_with_precision(client_salary - labour.account, :precision => 2) %></td>
            <% end %>
            <% salary = 0 %>
            <% client_salary = 0 %>
            <% hours = 0 %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>