<div class="container">
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/reports/index" method="get"><input type="text" name="startdate" id="datepicker" value="<%= params[:startdate] %>"><button class="btn btn-primary">Go</button></form>
  </div>
    <div class="table-responsive">
      <table class="table-bordered table-striped table">
        <thead>
          <td>Name</td>
          <td>Presenty</td>
          <td>Salary</td>
          <td>Advance</td>
          <td>Balance</td>
        </thead>
        <tbody>
        <% @labour.each do |labour| %>
          <tr>
            <td><%= labour.first_name %> <%= labour.last_name %> </td>
            <% hours = 0 %>
            <% salary = 0 %>
            <td><% Attendance.where("labour_id = ? and date between ? and ? ", labour.id, params[:startdate],DateTime.parse(params[:startdate]) + 1.month).each do |a|
              hours += a.hours unless a.hours.nil?
              salary += a.salary unless a.salary.nil?
            end
              %>
            <%= number_with_precision(hours/labour.salary_for_hours, :precision => 2)  %></td>
            <td><%= number_with_precision(salary, :precision => 2) %></td>
            <td><%= number_with_precision(labour.account, :precision => 2) %></td>
            <td><%= number_with_precision(salary - labour.account, :precision => 2) %></td>
            <% salary = 0 %>
            <% hours = 0 %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>