<div class="container">
  <div class="row">
<%= form_for 'x', url: "/reports/long", method: "get" do |f| -%>
  <%= collection_select(:labour, :id, @labours, :id, :first_name, {selected: params[:labour] ? params[:labour][:id] : @labour.id }) %>
    <%= date_select("report", "for", discard_day: true, default: Date.today) %>
  <button type="submit" class="btn btn-primary" value="submit">Submit</button>
<% end -%>
    <div class="table-responsive">
      <table class="table-bordered table-striped table">
        <thead>
          <td>date</td>
          <td>client</td>
          <td>presenty</td>
          <td>in</td>
          <td>out</td>
          <td>Salary</td>
          <td>advance</td>
        </thead>
        <tbody>
        <% d = Date.new(params[:report]['for(1i)'].to_i,params[:report]['for(2i)'].to_i,params[:report]['for(3i)'].to_i) if params[:report] %>
        <% d ||= Date.today %>
        <% at = 0.0 %>
        <% sa = 0.0 %>
        <% ad = 0.0 %>
        <% d.at_beginning_of_month.upto(d.at_end_of_month) do |dat|%>
        <% attendance = Attendance.where("date = ? and labour_id = ?", dat, @labour.id ).first %>
        <% at += attendance.hours unless attendance.nil? %>
        <%
unless attendance.nil?
        sa += attendance.salary.to_f
        end %>
        <% advance = Payment.where("date = ? and labour_id = ?", dat, @labour.id).first %>
        <% ad += advance.amount_paid unless advance.nil? %>
          <tr>
            <td><%= dat %></td>
            <% work_name = Work.includes(:client).find(attendance.work_id).client.first_name.exist? %>
            <td><%= attendance.nil? ? "---" : work_name %></td>
            <td><%= attendance.nil? ? "x" : to_presenty_symbol(attendance.hours)  %></td>
            <td><%= attendance.nil? ? "x" : attendance.in %></td>
            <td><%= attendance.nil? ? "x" : attendance.out %></td>
            <td><%= attendance.nil? ? "x" : attendance.salary %></td>
            <td><%= advance.nil? ? "x" : advance.amount_paid %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <td></td>
          <td></td>
          <td><%= number_with_precision(at/@labour.salary_for_hours , precision: 2) %></td>
          <td></td>
          <td></td>
          <td><%= sa %></td>
          <td><%= ad %></td>
        </tfoot>
      </table>
    </div>
  </div>
</div>